

<div class="banner-image">
    <figure class="fluidratio"></figure>
</div>



<div class="panel-group" id="accordion">

    <div class="panel panel-default">
        <div id="collapseOne" class="panel-collapse collapse">
            <h4 class="panel-title">Meddelande</h4>
            <div class="panel-body">
              
                <div id="display-list">
                    <h4> Meddelanden</h4>


                    <input type="button" value="Display" 
                           id="read-list-button" />
                </div>           
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div id="collapseTwo" class="panel-collapse collapse">
            <h4 class="panel-title">Mina listor</h4>
            <div class="panel-body">

                <div class="container">
                    <h2>Create your shoppinglist!</h2>
                    <div class="read-List">                        
                        <div class="create-list-div">
                            <input type="text" value="" id="listName" placeholder="Name the list" />
                            <input type="button" value="Create List " id="createList" />
                        </div>
                        <div class="list-div">
                            <ul class="ul-ShoppingList" id="theUlList">
                            </ul>
                        </div>
                        <div class="add-list-div toggleClass-div-hide" id="addToListID">
                            <input type="text" value="" id="textbox-list" placeholder="Add Word" />
                            <input type="button" value="Add" id="add-to-list-button" />
                            <input type="button" value="Create new list" id="remove-list" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="panel panel-default">
        <div id="collapseThree" class="panel-collapse collapse">
            <h4 class="panel-title">Vänner</h4>
            <div id="Friends"></div>
            <h4 class="panel-title">Bjud in en vän som du vill ska börja använda BlackList</h4>
            <div class="panel-body"></div>
@model BlackList.Models.RegisterModel

@{
    using (Html.BeginForm("EmailInfo", "Home", FormMethod.Post))
    {
        <label>Ditt Namn:</label><br />
        @Html.TextBoxFor(m => m.UserName)<br />


        <label>Namn på personen du vill bjuda in:</label><br />
        @Html.TextBoxFor(m => m.InviteUserName)<br />

        <label>Ange Email till personen du vill bjuda in:</label><br />
        @Html.TextBoxFor(m => m.Email)<br />



        <br />
        <input type="submit" value="Bjud in" />
        }
    }
         </div>
    </div>

    <div class="panel panel-default">
        <div id="collapseFour" class="panel-collapse collapse">
            <h4 class="panel-title">Chatt</h4>
            <div class="panel-body">


                <div class="containers">
                    <!-- Area containing the chat -->
                    <button id="ClickMe">Click Me</button>

                    <input type="text" id="message" />
                    <input type="button" id="sendmessage" value="send" />
                    <input type="hidden" id="displayname" />
                    <ul id="discussion"></ul>
                </div>


        </div>
            
    </div>
    </div>
    <div class="panel panel-default">
        <div id="collapseFive" class="panel-collapse collapse">
            <h4 class="panel-title">Mina Listor</h4>
            <div class="panel-body">

                <div class="containers read-List">
                    <div id="MyLists"></div>
                    <h2 class="listheading-read"></h2>
                    <ul id="secondUl">
                    </ul>
                    <div class="add-listItem-div" id="add-listItem-id">
                        <input type="text" value="" id="textbox-list-readMode" placeholder="Add Word" />
                        <input type="button" value="Add" class="Button-in-read-mode" id="add-to-listButton" />
                        <input type="button" value="Remove List" class="Button-in-read-mode" id="remove-listItem" />
                    </div>
                    <div>
                        
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

