

<div class="banner-image">
    <figure class="fluidratio"></figure>
</div>

<div class="panel-group" id="accordion">

    <div class="panel panel-default">
        <div id="collapseOne" class="panel-collapse collapse">
            <h4 class="panel-title">Meddelande</h4>
            <div class="panel-body">
                Träutensilierna i ett tryckeri äro ingalunda en faktor där trevnadens ordningens och ekonomiens upprätthållande, och dock är det icke sällan som sorgliga erfarenheter göras ordningens och ekon och miens därmed upprätthållande. Träutensilierna i ett tryckeri äro ingalunda en oviktig faktor, för trevnadens ordningens och och dock är det icke sällan.
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div id="collapseTwo" class="panel-collapse collapse">
            <h4 class="panel-title">Mina listor</h4>
            <div class="panel-body">

                <div class="container">
                    <h2>Create your shoppinglist!</h2>
                    <div class="read-List">                        
                        <div class="create-list-div">
                            <input type="text" value="Name the list" id="listName" />
                            <input type="button" value="Create List " id="createList" />
                        </div>
                        <div class="list-div"></div>
                        <div class="add-list-div">
                            <input type="text" value="Word" id="textbox-list" />
                            <input type="button" value="Add" id="add-to-list-button" />
                            <input type="button" value="Remove List" id="remove-list" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Area containing the chat -->
    <button id="ClickMe">Click Me</button>
    <div class="containers">
        <input type="text" id="message" />
        <input type="button" id="sendmessage" value="send" />
        <input type="hidden" id="displayname" />
        <ul id="discussion"></ul>
    </div>


    <div class="panel panel-default">
        <div id="collapseThree" class="panel-collapse collapse">
            <h4 class="panel-title">Vänner</h4>
            <h4 class="panel-title">Bjud in en vän som du vill ska börja använda BlackList</h4>
            <div class="panel-body">
</div>
@model BlackList.Models.RegisterModel

@{
    using (Html.BeginForm("EmailInfo", "Home", FormMethod.Post))
    {
        <label>Ditt Namn:</label><br />
        @Html.TextBoxFor(m => m.UserName)<br />


        <label>Namn på personen du vill bjuda in:</label><br />
        @Html.TextBoxFor(m => m.InviteUserName)<br />

        <label>Ange Email till personen du vill bjuda in:</label><br />
        @Html.TextBoxFor(m => m.Email)<br />



        <br />
        <input type="submit" value="Bjud in" />
        }
    }
            </div>
        </div>
    </div>
