<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<script src="/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="/signalr/hubs"></script>
<script src="/Scripts/ChatAll.js"></script>

<p>Läser du detta har du loggat in!</p>
<p>Börja chatta!</p>
<a id="start">start</a>

<div class="containers">
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="send" />
    <input type="hidden" id="displayname" />
    <input type="hidden" id="groupname" />
    <ul id="discussion"></ul>
</div>