@section SPAViews {
    @Html.Partial("_Home")
}
@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
    
}



     
    <h2 style="text-align:center;">Lägg Till Vänner</h2>

    <div id="UserListz" class="col-md-12" style="overflow:auto; margin-top: 50px; margin-bottom: 50px; border: 1px solid black;"></div>

