@section SPAViews {
    @Html.Partial("_Home")
}
@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
    
}


<input placeholder="Write A Username Here" style="margin-top:30px; margin-bottom:20px;" />
<div id="UserListz" class="col-md-6" style="overflow:auto"></div>

