
@{
    ViewBag.Title = "mockupView";
}

<h2>Shopping List</h2>
<div class="container"></div>
<div class="read-List col-lg-12">
    <ul class="ul-ShoppingList">
        <li class="li-ShoppingList"></li>
    </ul>
</div>

